body{
    margin: 0;
    padding: 0;
    color: white;
}


.grid > div {
     border: solid 1px red ;
}
.grid{
    display: grid;
    grid-template-columns: 18% 33% 33%;
    grid-template-rows: 40px 40px 40px ;
    grid-template-areas:    "header header header"
                            "sidebar main right"
                            "sidebar footer footer";
}

.case1{
    background-color:rgb(255, 214, 218);
    grid-area: header;
    text-align: center;
    color: black;
    justify-content: center;
}

.case2{
    background-color:rgb(255, 214, 218);
    grid-area: sidebar;
    text-align: center;
    color: black;
}

.case3{
    background-color:rgb(255, 214, 218);
    grid-area: main;
    text-align: center;
    color: black;
}

.case4{
    background-color:rgb(255, 214, 218);
   grid-area: right;
   text-align: center;
   color: black;
}

.case5{
    background-color:rgb(255, 214, 218);
    grid-area: footer;
    text-align: center;
    color: black;
}



@media only screen and (max-width: 550px) { 
    .grid{

        grid-template-columns: 50% 50% 50%;
        grid-template-rows: 50px 50px 50px ;
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "right"
        "footer"
        ;
    }
    
}